<div class="relative z-0 flex h-screen w-full flex-row items-center justify-center">
  <div
    class="relative z-0 flex h-screen w-full items-center justify-center"
    style="
      background-image: url('../../../assets/images/mint-page-background.png');
      background-repeat: repeat-y;
      background-size: cover;
    "
  ></div>

  <div
    [ngClass]="[
      'absolute mt-14 flex',
      'h-156 w-156 select-none flex-row',
      'items-center justify-center rounded-md',
      'border-8 border-zinc-950',
      'bg-yellow-300 bg-opacity-85',
      'text-center sm:w-30'
    ]"
  >
    <!-- <div
      class="flex flex-col text-center items-center justify-center h-156 w-60"
    >
      <h1 class="select-none text-3xl RobotoMonoBold font-black mb-10">
        OWNED CUBS {{ playerCubBalance }}
      </h1>
      <div
        class="grid grid-cols-5 h-144 w-100% border-zinc-950 border-8 m-3 text-left items-start justify-start"
      >
        <div
          *ngFor="let cub of ownedCubsArray"
          class="relative w-28 h-28 text-center items-center border-zinc-950 border-8 m-3"
        >
          <img src="../../../assets/images/bear-cub.webp" alt="" />
        </div>
        <div *ngIf="!playerCubBalance" class="w-155 text-center ml-8 mt-52">
          <h1 class="select-none text-3xl RobotoMonoBold font-black mb-10">
            YOU CURRENTLY OWN NO CUBS GOT TO GET CUBS TO START EARNING REWARDS
          </h1>
        </div>
      </div>
    </div>
    <div class="flex flex-col text-center items-center h-156 w-80">
      <div class="h-128 w-75 mt-10">
        <h1 class="select-none text-3xl RobotoMonoBold font-black mb-10">
          CURRENT $FUZZ PRICE ${{ currentFuzzPrice }}
        </h1>
        <h1 class="select-none text-3xl RobotoMonoBold font-black mb-10">
          REMAINING CUB SUPPLY {{ remainingCubSupply }}
        </h1>
        <h1 class="select-none text-3xl RobotoMonoBold font-black mb-10">
          EMISSIONS PER CUB {{ emissionsPerCub }}
        </h1>
        <h1 class="select-none text-3xl RobotoMonoBold font-black mb-10">
          YOUR CURRENT DAILY REWARDS {{ currentDailyRewards }} $FUZZ
        </h1>

        <h1 class="select-none text-3xl RobotoMonoBold font-black mb-10">
          TOTAL $FUZZ BURNED {{ totalBurned }}
        </h1>
        <h1 class="select-none text-3xl RobotoMonoBold font-black mb-10">
          CURRENT CUB PRICE IN $FUZZ {{ currentCubPriceForFuzz }}
        </h1>
      </div>
    </div>

    <div>
      <h1 class="select-none text-3xl RobotoMonoBold font-black mb-10">
        YOUR COST TO COMPOUND IN $FUZZ {{ playerCompoundCost }}
      </h1>
      <h1 class="select-none text-2xl RobotoMonoBold font-black mb-10">
        A portion of your unclaimed rewards will be used to purchase another cub
      </h1>
      <button
        class="select-none mt-7 rounded-md text-3xl RobotoMonoBold font-black w-128 h-20 active:opacity-15 border-8 border-zinc-950"
      >
        Compound
      </button>
      <h1 class="select-none text-3xl RobotoMonoBold font-black mb-10">
        UNCLAIMED REWARDS {{ unclaimedRewards }} $FUZZ
      </h1>
      <h1 class="select-none text-2xl RobotoMonoBold font-black mb-10">
        If you choose to claim your rewards you will be charged a 5% tax on your
        claim.
      </h1>
      <button
        class="select-none mt-7 rounded-md text-3xl RobotoMonoBold font-black w-128 h-20 active:opacity-15 border-8 border-zinc-950"
      >
        Claim Rewards
      </button>
    </div> -->
  </div>
</div>
