<div class="flex h-full w-full">
  <div class="flex-col-set h-full w-full items-center justify-center" *ngIf="!showPanel">
    <button (click)="showMintPanelFunc('buyForHoney')" class="buy-button">
      BUY CUBS FOR $HONEY
    </button>
    <button (click)="showMintPanelFunc('buyForFuzz')" class="buy-button">BUY CUBS FOR $FUZZ</button>
    <button (click)="showMintPanelFunc('bondForHoney')" class="buy-button">
      BOND CUBS FOR $HONEY
    </button>
  </div>

  <div
    [class.hidden]="!showPanel"
    class="flex h-full w-full items-center justify-center text-center"
  >
    <app-mint-panel #mintPanel></app-mint-panel>
  </div>
</div>
