<div style="height: 78vh" class="flex w-screen items-center justify-center">
  <div class="flex-col-set w-full items-center justify-center" *ngIf="!showPanel">
    <button (click)="showMintPanelFunc('buyForHoney')" class="buy-button">
      BUY CUBS FOR $HONEY
    </button>
    <button (click)="showMintPanelFunc('buyForFuzz')" class="buy-button">BUY CUBS FOR $FUZZ</button>
    <button (click)="showMintPanelFunc('bondForHoney')" class="buy-button">
      BOND CUBS FOR $HONEY
    </button>
  </div>

  <div class="h flex h-full w-80% items-center" [class.hidden]="!showPanel">
    <app-mint-panel (closePanel)="closePanel()" #mintPanel></app-mint-panel>
  </div>
</div>
