<div
  class="no-scrollbar relative z-0 flex h-screen w-full items-center justify-center align-middle"
>
  <div
    *ngIf="!mintPanel.showMintPanel"
    class="relative mb-50 flex w-full flex-col items-center justify-center"
  >
    <button (click)="showMintPanelFunc('buyForHoney')" class="buy-button">
      BUY CUBS FOR $HONEY
    </button>
    <button (click)="showMintPanelFunc('buyForFuzz')" class="buy-button">BUY CUBS FOR $FUZZ</button>
    <button (click)="showMintPanelFunc('bondForHoney')" class="buy-button">
      BOND CUBS FOR $HONEY
    </button>
  </div>

  <app-mint-panel #mintPanel></app-mint-panel>
</div>
