<div
  class="rounded-sm bg-opacity-85 h-16 flex justify-between w-80 mt-7 z-10 absolute bg-yellow-300 ml-12"
>
  <button
    class="border-8 border-zinc-950 opacity-100 h-full w-1/4 active:opacity-15 z-20 RobotoMonoBold font-black"
  >
    <h3 class="text-xl">CONNECT WALLET</h3>
  </button>
  <div class="h-full w-5/12 border-8 border-zinc-950">
    <h1
      class="mt-2 text-balance RobotoMonoBold font-black justify-center items-center ml-14"
    >
      IT AIN'T MUCH BUT..... YEAH IT AIN'T MUCH
    </h1>
  </div>

  <button
    class="border-8 border-zinc-950 opacity-100 w-1/4 h-full active:opacity-15 z-20 RobotoMonoBold font-black"
  >
    <h3 class="text-xl">GET $FUZZ</h3>
  </button>
  <button
    class="border-8 border-zinc-950 opacity-100 h-full w-1/4 active:opacity-15 z-20 RobotoMonoBold font-black"
  >
    <h3 class="text-xl">GET CUBS</h3>
  </button>
  <button
    (click)="router.navigate([''])"
    class="border-8 border-zinc-950 opacity-100 h-full w-1/6 active:opacity-15 z-20 RobotoMonoBold font-black"
  >
    <h3 class="text-xl">HOME</h3>
  </button>
</div>
