<div class="mt-4 flex w-full justify-center">
  <div class="flex-row-set border-background z-10 h-20 w-90% justify-between">
    <button
      class="small-heading-text w-full border-r-4 border-zinc-950 active:opacity-15"
      (click)="connectWallet()"
    >
      {{ connectWalletText }}
    </button>

    <button class="paragraph-text w-full border-r-4 border-zinc-950">
      IT AIN'T MUCH BUT..... YEAH IT AIN'T MUCH
    </button>

    <button
      class="small-heading-text w-full border-r-4 border-zinc-950 active:opacity-15"
      (mousedown)="mouseDown('getFuzz')"
      (mouseup)="mouseUp('getFuzz')"
    >
      {{ getFuzzText }}
    </button>
    <button
      class="small-heading-text w-full border-r-4 border-zinc-950 active:opacity-15"
      (mousedown)="router.navigate(['buyPage'])"
      (mouseup)="mouseUp('getCubs')"
    >
      {{ getCubsText }}
    </button>
    <button
      class="small-heading-text w-full border-r-4 border-zinc-950 active:opacity-15"
      (mousedown)="router.navigate(['marketplace'])"
    >
      TRADE CUBS
    </button>
    <button
      class="small-heading-text w-full border-r-4 border-zinc-950 active:opacity-15"
      (mousedown)="router.navigate(['playerDashboard'])"
    >
      PLAYER DAHSBOARD
    </button>
    <button class="small-heading-text w-full active:opacity-15" (click)="router.navigate([''])">
      {{ homeText }}
    </button>
  </div>
</div>
