<div [ngClass]="[' no-scrollbar relative flex items-center justify-between align-middle', 'z-10 ']">
  <button (mousedown)="ethersService.connectWallet()" class="toolbar-button">
    {{ connectWalletText }}
  </button>
  <div class="toolbar-button">IT AIN'T MUCH BUT..... YEAH IT AIN'T MUCH</div>

  <button (mousedown)="mouseDown('getFuzz')" (mouseup)="mouseUp('getFuzz')" class="toolbar-button">
    {{ getFuzzText }}
  </button>
  <button
    (mousedown)="router.navigate(['buyPage'])"
    (mouseup)="mouseUp('getCubs')"
    class="toolbar-button"
  >
    {{ getCubsText }}
  </button>
  <button (mousedown)="router.navigate(['playerDashboard'])" class="toolbar-button">
    PLAYER DAHSBOARD
  </button>
  <button (click)="router.navigate([''])" class="toolbar-button">
    {{ homeText }}
  </button>
</div>
