<div *ngIf="showMintPanel" class="main-mint-panel">
  <div *ngIf="mintPanelConfig" class="flex h-144 w-80 flex-col items-center text-center">
    <h1 class="meading-text">
      {{ mintPanelConfig.mintPanelTitle }}
    </h1>

    <img
      class="mint-panel-bear-img"
      src="../../../assets/images/bear-cub.webp"
      alt="Bear Cub Image"
    />

    <div>
      <h1 class="info-text">
        REMAINING SUPPLY FOR {{ mintPanelConfig.ticker }} :
        {{ remainingSupply }}
      </h1>
    </div>
    <div>
      <h1 class="info-text">COST PER CUB: {{ costPerCub }} {{ mintPanelConfig.ticker }}</h1>
    </div>
    <div>
      <h1 class="info-text">TRANSACTION TOTAL: {{ mintCost }} {{ mintPanelConfig.ticker }}</h1>
    </div>

    <h1>{{ mintPanelConfig.remainingSupply }}</h1>

    <div
      class="mt-3 flex select-none flex-row items-center justify-end rounded-md border-8 border-zinc-950 text-center"
    >
      <button
        (click)="decrMintAmount()"
        class="mr-20 select-none border-r-8 border-zinc-950 active:opacity-15"
      >
        <img
          src="../../../assets/minus-sign-of-a-line-in-horizontal-position-svgrepo-com.svg"
          alt="Plus SVG"
        />
      </button>

      <h1 class="RobotoMonoBold text-3xl font-black">{{ mintAmount }}</h1>

      <button
        (click)="incrMintAmount()"
        class="ml-20 select-none border-l-8 border-zinc-950 active:opacity-15"
      >
        <img src="../../../assets/plus-svgrepo-com.svg" alt="Plus SVG" />
      </button>
    </div>
  </div>
  <div *ngIf="mintPanelConfig" class="flex h-144 w-80 flex-col items-center justify-end">
    <div class="w-75 flex h-72 flex-col items-center justify-center">
      <h1 class="heading-text leading-relaxed">YOUR CUB BALANCE: {{ walletCubBalance }}</h1>
      <h1 class="info-text leading-relaxed">
        {{ mintPanelConfig.purchaseInfoText }}
      </h1>
    </div>

    <div class="mt-10 flex h-72 w-full flex-col items-center justify-center">
      <button
        *ngIf="!allowanceSufficient"
        (click)="
          panelType === 'buyForHoney'
            ? approveSpendHoney()
            : panelType === 'bondForHoney'
              ? approveSpendBond()
              : approveSpendFuzz()
        "
        class="action-button"
      >
        {{ mintPanelConfig.approveText }}
      </button>
      <button
        *ngIf="allowanceSufficient"
        (click)="
          panelType === 'buyForHoney'
            ? buyBeraCubsForHoney()
            : panelType === 'bondForHoney'
              ? bondForHoney()
              : buyBeraCubsForFuzz()
        "
        class="action-button"
      >
        {{ mintPanelConfig.buyText }}
      </button>
      <button (click)="close()" class="action-button">BACK</button>
    </div>
  </div>
</div>
